.words-list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	transform-origin: right top;
}

.word-list-item-new {
	width: calc(100% - 16px);
	animation: newWordAnimation 0.6s ease-out normal forwards;
}

@keyframes newWordAnimation {
	from {
		opacity: 0;
		transform: translate(-100vw, 0) scale(0.4);
		background-color: var(--button-success);
	}
	50% {
		opacity: 0.2;
	}
	to {
		opacity: 1;
		transform: translate(0, 0) scale(1);
	}
}

.words-list-item hr {
	border-width: 1px;
	border-top-width: 0;
	border-color: var(--border);
}

.words-list-item-content {
	flex: 1;
	padding-right: 8px;
}

.words-list-item-actions {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
	justify-content: center;
	align-items: center;
}

.words-list-item-actions .button {
	min-height: 50px;
}

@media screen and (max-width: 950px) {
	.words-list-item-actions {
		width: min-content;
	}

	.words-list-item-actions .button {
		min-height: unset;
	}
}

.words-list-item-hide {
	width: calc(100% - 16px);
	animation: hideWordAnimation 1s ease-out normal forwards;
}

.words-list-item-hide-success {
	background-color: rgba(var(--button-success-rgb), 0.5) !important;
}

.words-list-item-hide-danger {
	background-color: rgba(var(--button-danger-rgb), 0.6) !important;
}

@keyframes hideWordAnimation {
	from {
		opacity: 0.8;
	}
	50% {
		opacity: 0;
	}
	80% {
		opacity: 0;
		transform: translate(-100vw, 0) scale(0.4);
	}
	to {
		opacity: 0;
		transform: translate(-100vw, 0) scale(0.4);
		position: absolute;
	}
}
