.words-delete-word {
	margin: 16px 8px;
}

.words-delete-word-highlight {
	/* color: var(--warning); */
	text-decoration: underline var(--warning) wavy;
	margin-block-end: inherit;
	margin-block-start: inherit;
}
