.words-spinner-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 10%;
}

.words-delete-word {
	margin: 16px 8px;
}

.words-delete-word-highlight {
	text-decoration: underline var(--warning) wavy;
	margin-block-end: inherit;
	margin-block-start: inherit;
}
