.app-content {
	width: 100%;
	height: 100%;
	min-width: var(--min-width);
	min-height: calc(var(--min-height) + 38px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*var(--max-width)*/
@media screen and (min-width: 1396px) {
	.app-content {
		padding: 19px;
		height: 100%;
		border: var(--border-color) 1px solid;
	}
}

/*calc(var(--min-height) + var(--var(header-height) + var(--footer-height))*/
@media screen and (max-height: 590px) {
	.app {
		overflow-y: auto;
	}
}

.app-content-work-section-container {
	display: flex;
	flex-direction: row;
	height: calc(100% - var(--footer-height));
	width: 100%;

	min-width: var(--min-width);
	max-width: var(--max-width);
	min-height: calc(var(--min-height) - var(--footer-height));
}

.app-content-work-section {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.app-content-main {
	background-color: var(--bg-work-section);
	flex: 1;
	overflow-y: auto;
}

/* var(--min-width)*/
@media screen and (max-width: 648px) {
	.app {
		overflow-x: auto;
	}

	.app-content,
	.app-content-work-section-container {
		min-width: unset;
	}
}
