.auth .forgot-password-actions {
	padding-left: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.auth .forgot-password-success-alert {
	margin-bottom: 24px;
}