.side-drawer {
	width: var(--drawer-width);
	border-left: 1px solid var(--border-stronger);
	background-color: var(--bg-drawer);
}

.side-drawer-header {
	background-color: var(--bg-header);
	height: var(--header-height);
}

.drawer-navigation {
	margin-top: 8px;
}

.drawer-navigation a {
	display: block;
	cursor: pointer;
	padding: 16px 24px;
	text-decoration: none;
	color: var(--color-dark);
}

.drawer-navigation a:hover {
	background-color: var(--drawer-hover);
	color: var(--color-light);
}

.drawer-navigation a[data-active='true'] {
	color: var(--color-light);
}
