.side-drawer {
	width: var(--drawer-width);
	border-left: 1px solid var(--border-stronger);
	background-color: var(--bg-drawer);
}

.side-drawer-header {
	background-color: var(--bg-header);
	height: var(--header-height);
}

.drawer-navigation {
	margin-top: 8px;
}

.drawer-navigation-item {
	display: block;
	cursor: pointer;
	padding: 16px 24px;
}

.drawer-navigation-item:hover {
	background-color: var(--drawer-hover);
}

.drawer-navigation-item:active {
	background-color: var(--drawer-active);
}
