.dialog {
	max-height: 90vh;
	max-width: 90vw;
	z-index: 1010;
	padding: 16px;
	border: 1px solid var(--border);
	background: var(--bg-dialog);
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(var(--shadow-rgb), 0.26),
		0 2px 10px 0 rgba(var(--shadow-rgb), 0.16);

	transform-origin: right top;
}

.dialog-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.dialog-entering {
	animation: dialog-open ease 200ms forwards;
}
.dialog-entered {
	animation: dialog-open ease 200ms forwards;
}

.dialog-exiting {
	animation: dialog-close ease 200ms forwards;
}

@keyframes dialog-open {
	from {
		opacity: 0;
		transform: scale(0);
		transform: translate(100vh, -100%);
	}
	40% {
		opacity: 0.1;
	}
	to {
		transform: translate(0, 0);
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes dialog-close {
	from {
		transform: scale(1);
		opacity: 1;
	}
	60% {
		opacity: 0.1;
	}
	to {
		transform: scale(0);
		opacity: 0;
		transform: translate(100vh, -100%);
	}
}

.dialog-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
