.header {
	padding: 8px 16px;
	height: var(--header-height);
	width: 100%;
	background-color: var(--bg-header);
	overflow-y: hidden;
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.header-title {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.header-title-text {
	font-size: larger;
	font-weight: 600;
}

.header-title-caption {
	font-size: small;
	color: var(--color-dark);
}

.header-actions {
	display: flex;
	align-items: center;
	margin-left: 16px;
}

.header-actions-button {
	margin: 0 16px 0 0;
	height: 32px;
	width: 32px;
	border: none;
	background-color: inherit;
	color: var(--color-dark);
	cursor: pointer;
}

.header-actions-button:last-of-type {
	margin: 0;
}
