.update-password {
	margin: 8px;
}
.update-password form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.update-password form label {
	display: flex;
	flex-direction: column;
	margin: 8px auto 16px auto;
	position: relative;
}

.update-password-helper-text {
	font-size: 0.8em;
	color: var(--color-dark);
	bottom: -0.8em;
	position: absolute;
}

.update-password-helper-text.update-password-helper-text-error {
	color: var(--reject);
}

.update-password-actions {
	padding-left: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.update-password-actions button:last-of-type {
	margin-left: 72px;
}

.update-password-back-button {
	background-color: inherit;
	border: none;
	outline: none;
	color: var(--color-dark);
	text-decoration: underline;
	margin-right: 72px;
}

.update-password-back-button:focus {
	outline-color: var(--border-stronger);
	outline-style: solid;
	outline-width: thick;
}

.update-password-back-button:hover {
	color: var(--color-light);
}
