.input {
	background-color: var(--bg-input);
	color: var(--color-dark);
	font-size: medium;
	padding: 8px 16px;
	margin: 8px;
	border: 1px solid var(--border)
}

.input:focus {
	outline-style: solid;
	outline-color: var(--border-stronger);
	outline-width: thick;
}
