:root {
	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;

	--footer-height: 60px;
	--header-height: 60px;
	--drawer-width: 320px;

	--bg-main: #090e11;
	--bg-header: #2a2f32;
	--bg-footer: #2a2f32;
	--bg-drawer: #131c21;
	--bg-work-section: #0d1418;
	--color-light: rgba(241, 241, 242, 0.96);
	--color-main: rgba(241, 241, 242, 0.92);
	--color-dark: #b1b3b5;
	--border: #242d32;
	--border-stronger: rgba(241, 241, 242, 0.11);
}

html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--bg-main);
	color: var(--color-main);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
