.snackbar {
	min-width: 50vw;
	max-width: calc(100vw - 16px);
	/* z-index: 1; */
	position: absolute;
	bottom: 16px;
	right: 16px;

	margin: 8px auto;
	padding: 8px 16px;

	color: var(--reject);
	background-color: var(--bg-dialog);
	border: 1px solid;
	border-color: var(--reject);
	border-radius: var(--radius-small);

	box-shadow: 0 2px 5px 0 rgba(var(--reject-rgb), 0.26),
		0 2px 10px 0 rgba(var(--reject-rgb), 0.16);

	display: flex;
	justify-content: center;
}

.snackbar-icon {
	width: 32px;
	height: 32px;
}

.snackbar-entering {
	animation: snackbar-open ease 200ms forwards;
}
.snackbar-entered {
	animation: snackbar-open ease 200ms forwards;
}

.snackbar-exiting {
	animation: snackbar-close ease 200ms forwards;
}

@keyframes snackbar-open {
	from {
		opacity: 0;
		transform: scale(0);
		transform: translate(100vh, -100%);
	}
	40% {
		opacity: 0.1;
	}
	to {
		transform: translate(0, 0);
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes snackbar-close {
	from {
		transform: scale(1);
		opacity: 1;
	}
	60% {
		opacity: 0.1;
	}
	to {
		transform: scale(0);
		opacity: 0;
		transform: translate(100vh, -100%);
	}
}
